.row::after{
    content: "";
    clear:both;
    display: table;
     }

.travel_mainDiv
{
    float: center;
        width:33.33%;
    padding:5px;
    border:1 px solid #c7c7c7;
    text-align: center;
}

.travel_mainDiv img{
    width:100%;
    height:300px;
}

.travel_mainDiv hr{
    width:100%;
    
}

.travel_mainDiv h5, .travel_mainDiv p{
    margin-left: 20px;
    text-align: center;
}
#achievementsID{
    padding-bottom:10 px;
}
.movie_head{
    font-size:20 px;
    padding: 6px 22px;
    border-radius:10 px;
    margin-bottom: 15 px;
    width:100%;
    display:inline-block;
    }
.movie_head i{
    float:right;
}
.movie_text span{
    color:darkorange;
}
#footer{
    height:20px;
    background-color: floralwhite;
}
body{
    text-align: center
    
}